.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-col-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: $middleDimension) {
    flex-direction: row;
  }
}

.flex-row-no-space {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-row-no-wrap {
  display: flex;
  flex-direction: row;
}

.flex-row-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: $middleDimension) {
    flex-direction: column-reverse;
  }
}
