.animal-img {
  height: 150px;
  width: auto;
  @media (max-width: 320px) {
    height: 75px;
  }
}

.bottom-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.top-right {
  position: absolute;
  right: 0px;
  top: 0px;
  transform: rotate(180deg);
}

.top-left {
  max-width: 100px;
  min-width: 60px;
  top: 0;
  margin: 0;
  z-index: 10000;
}

.coursework {
  div {
    background-color: #81a1c1;
    margin: 5px 5px 5px 0;
    color: $backgroundColor;
    padding: 3px;
    border-radius: 5px;
    width: fit-content;
  }
}
