.animal-img {
  height: 150px;
  width: auto;

  @media (max-width: 320px) {
    height: 75px;
  }
}

.bottom-left {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.top-right {
  position: absolute;
  right: 0px;
  top: 0px;
  transform: rotate(180deg);
}

.top-left {
  max-width: 100px;
  min-width: 60px;
  top: 0;
  margin: 0;
  z-index: 10000;
}

.coursework {
  .quantum {
    background-color: #8fbcbb;
  }

  .history {
    background-color: #b48ead;
  }

  .feminism {
    background-color: #b48ead;
  }

  .PL {
    background-color: #a3be8c;
  }

  .fantasy {
    background-color: #5e81ac;
  }

  div {
    background-color: #81a1c1;
    margin: 5px 5px 5px 0;
    color: $backgroundColor;
    padding: 3px;
    border-radius: 5px;
    width: fit-content;
  }
  .note {
    background-color: #b48ead;
    a {
      background-color: #b48ead;
    }
  }
}

hr {
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-top: medium double $fontColor;
  color: $fontColor;
  text-align: center;
}

hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: $backgroundColor;
}

.admonitionblock {
  td {
    border-top: hidden !important;
    border-bottom: hidden !important;
  }

  .content {
    border-right: hidden !important;
    padding-left: 15px;
  }

  .icon {
    border-left: hidden !important;
    padding-right: 15px;
  }

  padding: 0 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  border-color: $fontColor;
  text-align: left;

  .title {
    font-weight: bold;
  }

  &.note,
  &.tips {
    background-color: darken(#a3be8c, 15%);
  }

  &.warning {
    background-color: #e44675;
  }

  &.important {
    background-color: darken(#81a1c1, 15%);
  }
}

.books {
  .book {
    img {
      padding: 10px;
      height: 8vw;

      @media (max-width: 600px) {
        height: 35vw;
      }
    }
  }
}

.sidebar {
  padding: 2vw 5vw;
  img {
    width: 8vw;
    height: auto;
  }
}

.research {
  word-break: break-word;
  img {
    width: 15vw;
    padding-right: 10px;
    height: auto;
  }
}
