@import "variables";

a {
  color: $fontColor;
  text-decoration: none;
}

a {
  background: linear-gradient(to right, $highlightColor, $highlightColor),
    linear-gradient(to right, $highlightLeft, $highlightMiddle, $highlightRight);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a:hover {
  background-size: 0 3px, 100% 3px;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: $fontColor;
}

.logo {
  img {
    width: 100px;
    @media (max-width: $smallDimensionPlusOne) {
      width: 50px;
    }
  }
  margin: 0;
  text-align: left;

  a {
    background: none;
    float: left;
  }
}

.tags {
  a {
    all: unset;
    cursor: pointer;
    background-color: #81a1c1;
    margin: 4px 0;
    display: inline-block;
    color: $backgroundColor;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
    width: fit-content;
  }
}

.pagination {
  margin-top: 15px;
  a {
    all: unset;
    cursor: pointer;
    background-color: #81a1c1;
    margin: 4px 0;
    text-align: center;
    color: $backgroundColor;
    padding: 3px 15px;
    margin: auto;
    font-weight: bold;
    border-radius: 8px;
  }
}
