@import "variables";

th,
td {
  border: 1px solid $fontColor;
  color: $fontColor;
  font-family: $font;
  padding: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  overflow-x: auto;
  display: block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}
table::-webkit-scrollbar {
  background: none;
  width: 5px;
}
table::-webkit-scrollbar-thumb {
  background-color: $fontColor;
  border-radius: 10px;
}
