$lucyFont: "Jost", "Kalam";
$font: "Jost", sans-serif;
$fontColor: #c8d0e0;
$backgroundColor: #2e3440;
$accentColor: #81a1c1;
$highlightColor: rgba(100, 200, 200, 1);
$highlightLeft: rgba(255, 0, 0, 1);
$highlightMiddle: rgba(255, 0, 180, 1);
$highlightRight: rgba(0, 100, 200, 1);
$smallDimension: 319px;
$smallDimensionPlusOne: 320px;
$middleDimension: 640px;
$largeDimension: 1280px;
