@import "variables";

pre {
  overflow-x: scroll;
  max-width: 80vw;
  padding: 5px;
  border-radius: 5px;
}

.blog {
  flex-wrap: wrap;
  .gradient {
    background: -webkit-linear-gradient(var(--darker-accent), var(--accent-color));
    background: -moz-linear-gradient(var(--darker-accent), var(--accent-color));
    background: -o-linear-gradient(var(--darker-accent), var(--accent-color));
    background: linear-gradient(var(--darker-accent), var(--accent-color));

    -webkit-transition: background 1s ease-out;
    -moz-transition: background 1s ease-out;
    -o-transition: background 1s ease-out;
    transition: background 1s ease-out;

    background-size: 1px 200px;
    cursor: pointer;
    &:hover {
      background-position: 150px;
    }
  }

  .box {
    height: 50px;
    border-top: solid 2px var(--accent-color);
    border-left: solid 2px var(--accent-color);
    border-right: solid 2px var(--accent-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .blog-intro {
    @media (min-width: $maxWidth) {
      width: 12vw;
    }
    border-bottom: solid 2px var(--accent-color);
    border-left: solid 2px var(--accent-color);
    border-right: solid 2px var(--accent-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    .blog-title {
      font-weight: bold;
    }
    .date-time {
      white-space: nowrap;
    }
    p {
      margin: 0;
    }
  }
}

.post {
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $maxWidth) {
    width: 85vw;
  }
  blockquote {
    position: relative;
    line-height: 56px;
    padding-left: 40px;
    border-left: 5px solid var(--accent-color);
  }
  img {
    width: 60vw;
    border-radius: 15px;
    @media (max-width: $maxWidth) {
      width: 80vw;
    }
  }
}
