@import "variables";

pre {
  overflow-x: scroll;
  max-width: 80vw;
  padding: 5px;
  border-radius: 5px;
}

.blog {
  flex-wrap: wrap;
  .blog-intro {
    background-color: var(--accent-color);
    @media (min-width: $maxWidth) {
      width: 12vw;
    }
    border: solid 2px var(--font);
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    .blog-title {
      font-weight: bold;
    }
    p {
      margin: 0;
    }
  }
}

.post {
  margin-left: auto;
  margin-right: auto;
  @media (max-width: $maxWidth) {
    width: 85vw;
  }
  blockquote {
    position: relative;
    line-height: 56px;
    padding-left: 40px;
    border-left: 5px solid var(--accent-color);
  }
  img {
    height: 60vh;
      display: block;
  margin-left: auto;
  margin-right: auto;
    border-radius: 5px;
    @media (max-width: $maxWidth) {
      width: 80vw;
    }
  }
}

table, th, td  {
   border-collapse: collapse;
   border: 1px solid var(--text-color);
   color: var(--text-color);
   font-family:  'Source Sans Pro', sans-serif;
   padding: 5px;
}
