.container {
  .post {
    width: 60vw;
    margin: auto;
    min-height: 100vh;
    @media (max-width: 768px) {
      width: 80vw;
    }
    blockquote {
      position: relative;
      font-size: 48px;
      line-height: 56px;
      padding-left: 40px;
      border-left: 5px solid var(--accent-color);
    }
    img {
      width: 60vw;
      border-radius: 15px;
      @media (max-width: 768px) {
        width: 80vw;
      }
    }
    .blog-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      img {
        width:18vw;
        @media (max-width: 768px) {
          width: 80vw;
        }
      }
      p {
        text-align: center;
      }
    }
  }
  .blog-intro {
    margin-bottom: 15px;
    .blog-title {
      font-weight: bold;
      font-size: 1.5em;
    }
    p {
      margin: 0;
    }
  }
}
pre {
  width: fit-content;
  padding: 5px;
  border-radius: 8px;
}
