// failure page
.container {
    section {
        #text {
            padding-left: 20px;
            padding-bottom: 5vh;
        }
        #dropdown-tri {
            top: 24%;
            position: relative;
            transition: background 0.3s;
            cursor: pointer;
        }

        #dropdown-tri:after {
            content: "";
            position: absolute;
            top: 24%;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 15px solid var(--accent-color);
            border-right: 0 solid var(--accent-color);
            transition: border-bottom 0.05s, border-left 0.05s 0.05s;
        }

        input:checked ~ #dropdown-tri:after {
            border-top: 15px solid var(--accent-color);
            border-bottom: 0 solid var(--accent-color);
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            transition: border-bottom 0.05s, border-right 0.05s 0.05s;
        }

        p {
            line-height: 150%;
            font-size: large;
        }
        input {
            display: none;
        }
        .dropdown-check {
            display: none;
        }
        label {
            line-height: 150%;
            font-size: large;
        }
        .blocked {
            display: none;
        }
        *:checked ~ .blocked {
            display: contents;
        }
        *:checked ~ p {
            display: contents;
        }
        #text,
        #dropdown-tri {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &#single {
            margin-bottom: 10px;
        }
    }
}
