@import "variables";

.header {
    font-weight: bold;
    margin-bottom: 10px;
    a {
        background: none !important;
        background-size: 0px;
        text-decoration: none;
        &:hover,
        &:focus {
            background-size: 0px;
        }
    }
    .curr {
        background: var(--darker-accent);
    }
}
footer {
    & > div {
        justify-content: space-evenly !important;
    }
    a.icon {
        color: var(--text-color);
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
    p {
        margin-bottom: 0px;
    }
}
