footer {
    margin-top: 20px;
    padding-bottom: 20px;
    .links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: var(--text-color);
            p {
                text-decoration: none;
                background-color: var(--accent-color);
                color: var(--text-color);
                padding: 5px;
                border-radius: 5px;
            }
        }
    }
    p {
        color: var(--text-color);
        margin-bottom: 0px;
        padding-bottom: 5px;
    }
}
