.songs {
  display: flex;
  justify-content: space-between;
  .album {
    border-radius: 15px;
  }
}

.page {
  .intro-theme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header {
      font-size: 2em;
    }
  }
  img.me {
    position:absolute;
    height: 45px;
  }

  .intro-display {
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .profile-overlay {
      position: relative;
      img.profile-img {
        width: 15vw;
        margin: 15px;
        @media (max-width: 768px) {
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
        &:hover ~ img.overlay {
          transform: rotate(15deg);
        }
      }
      img.overlay {
        position: absolute;
        left: 85%;
        top: 60%;
        width: 4vw;
        @media (max-width: 768px) {
          width: 12vw;
          left: 65%;
          top: -10%;
        }
      }
    }
  }
}
