@import "variables";

.page {
  .intro-theme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .header {
      font-size: 2em;
    }
  }
  .bio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      height: 40vh;
      width: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 5px;
      @media (max-width: $maxWidth) {
        height: auto;
        width: 80vw;
      }
    }
  }
}
