@import "variables";

p,label,li,a,sup{
  font-family: $font;
  color: $grey;
}

h1,h2,h3,h4,h5,h6,summary{
  font-family: $lucyFont;
  color: $grey;
}

h1 {
  font-size: 55px;
  @media (max-width: $maxWidth) {
    font-size: 50px;
  }
}

h2 {
  font-size: 45px;
  @media (max-width: $maxWidth) {
    font-size: 45px;
  }
}

h3, summary {
  font-size: 40px;
  @media (max-width: $maxWidth) {
    font-size: 35px;
  }
}

p,
label,
li,
a,
code, 
sup {
  font-size: 19px;
  line-height: 150%;
  @media (max-width: $maxWidth) {
    font-size: 17px;
  }
}

.lucyfont {
  p,a {
  font-family: $lucyFont;
  font-size: 35px;
  @media (max-width: $maxWidth) {
    font-size: 30px;
  }
  }
    font-family: $lucyFont;
   }

    p.theme-text {
  font-size: 55px !important;
  margin: 0;
}
