@import "variables";

@media (max-width: 767px) {
  .mobile-hide {
    display: none !important;
  }

  .mobile-col {
    flex-direction: column !important;
  }
}

@media (min-width: $maxWidth) {
  .desktop-hide {
    display: none !important;
  }
}
