.page {
    p.course-button {
        a {
            text-decoration: none;
            color: var(--font-color);
            &:hover {
                text-decoration: underline;
                text-decoration-color: var(--font-color);
            }
        }
        white-space: nowrap;
        padding: 5px;
        width: max-content;
        border-radius: 5px;
        background-color: var(--other);
        &.CPSC {
            background-color: var(--cpsc) !important;
        }
        &.BIOL {
            background-color: var(--biol) !important;
        }
        &.CHEM {
            background-color: var(--chem) !important;
        }
        &.MICB {
            background-color: var(--micb) !important;
        }
        &.MATH {
            background-color: var(--math) !important;
        }
        @media (max-width: 768px) {
            width: fit-content !important;
        }
    }
    .courses {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        @media (max-width: 768px) {
            grid-template-columns: auto auto auto;
        }
    }
}

.page {
    .weeklysongs {
        margin: auto;
        .spotify-song {
            border-radius: 15px;
        }
    }
}
