.page {
    p.course-button {
        a {
            text-decoration: none;
            color: var(--font-color);
            &:hover {
                text-decoration: underline;
                text-decoration-color: var(--font-color);
            }
        }
        white-space: nowrap;
        padding: 5px;
        width: max-content;
        border-radius: 5px;
        background-color: var(--other);
        &.CPSC {
            background-color: var(--cpsc) !important;
        }
        &.BIOL {
            background-color: var(--biol) !important;
        }
        &.CHEM {
            background-color: var(--chem) !important;
        }
        &.MICB {
            background-color: var(--micb) !important;
        }
        &.BIOC {
            background-color: var(--micb) !important;
        }
        &.MATH {
            background-color: var(--math) !important;
        }
        @media (max-width: 768px) {
            width: fit-content !important;
        }
    }
    .courses {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        @media (max-width: 768px) {
            grid-template-columns: auto auto auto;
        }
    }
}

.page {
    .trends {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
        img {
            border-radius: 15px;
            width: 20vw;
            @media (max-width: 768px) {
                width: 70vw;
                margin-bottom: 10px;
                margin-left: auto;
                margin-right: auto;
            }
        }

    }
    .weeklysongs {
        display: grid;
        grid-template-columns: auto auto;
        @media (max-width: 768px) {
            grid-template-columns: auto !important;
        }
        .song {
            margin: auto;
            margin-bottom: 25px;
            padding: 15px;
            border-radius: 25px;
            border: 2px solid var(--accent-color);
            display: flex;
            flex-direction: column;
            p {
                font-size: 15px;
            }
            @media (min-width: 768px) {
                width: 33vw;
            }
            @media (max-width: 768px) {
                width: 70vw;
            }
        }
        .spotify-song {
            border-radius: 15px;
            margin-top: auto;
            margin-bottom: auto;
        }
    }
}
