@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;600;700;800&display=swap");
@import "index";
@import "blog";
@import "experience";
@import "mobile";
@import "school";
@import "header-footer";
@import "fails";

$cpsc: #b8ccde;
$biol: #c1cbe8;
$chem: #b8b8d1;
$micb: #cbc1e8;
$math: #cdb8de;
$other: #f2d0f2;
$light: white;
$smoke: #e6e6ee;
$dark: #5b5f97;
$darker: #cdb8de;
$font: "Open Sans";
$grey: #545454;
$lightergrey: #767676;
$dark-grey: #1e1e21;
$percent: 30%;

$themes: (
  "light": (
    "colors": (
      "background": $light,
      "accent": $darker,
      "font": $grey,
    ),
    "courseColors": (
      "CPSC": $cpsc,
      "BIOL": $biol,
      "CHEM": $chem,
      "MICB": $micb,
      "MATH": $math,
      "OTHER": $other,
    ),
  ),
  "dark": (
    "colors": (
      "background": $dark-grey,
      "accent": $dark,
      "font": $smoke,
    ),
    "courseColors": (
      "CPSC": darken($cpsc, $percent),
      "BIOL": darken($biol, $percent),
      "CHEM": darken($chem, $percent),
      "MICB": darken($micb, $percent),
      "MATH": darken($math, $percent),
      "OTHER": darken($other, $percent),
    ),
  ),
);

@each $theme-name, $theme-vars in $themes {
  $colors: map-get($theme-vars, "colors");
  $courseColors: map-get(
    $map: $theme-vars,
    $key: "courseColors",
  );

  $theme: (
    "bg-color": map-get($colors, "background"),
    "accent-color": map-get($colors, "accent"),
    "text-color": map-get($colors, "font"),
    "cpsc": map-get($courseColors, "CPSC"),
    "biol": map-get($courseColors, "BIOL"),
    "chem": map-get($courseColors, "CHEM"),
    "micb": map-get($courseColors, "MICB"),
    "math": map-get($courseColors, "MATH"),
    "other": map-get($courseColors, "OTHER"),
  );

  .container.#{$theme-name} {
    // define a css variable for each shade
    @each $name, $color in $colors {
      --#{$name}: #{$color};
    }

    // define a css variable for each color
    @each $name, $color in $colors {
      --#{$name}: #{$color};
      --#{$name}-dark: #{darken($color, 10%)};
      --#{$name}-darker: #{darken($color, 20%)};
    }

    // define a css variable for each theme color
    @each $name, $color in $theme {
      --#{$name}: #{$color};
    }
  }
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow-x: hidden;
  max-width: 100%;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  margin: 0;
  width: 100vw;
  height: fit-content;
  font-family: $font;
  background-color: var(--bg-color);
  height: 100vh;
}

.title {
  font-weight: bold;
  font-size: 2.5em;
  &:hover {
    color: var(--accent-color);
  }
}

h2 {
  font-weight: bold;
  &:hover {
    color: var(--accent-color);
  }
}

.container {
  margin: auto;
  padding-left: 20%;
  padding-right: 20%;
  background-color: var(--bg-color);
  color: var(--text-color);
  @media (max-width: 768px) {
    padding-left: 10%;
    padding-right: 10%;
  }
  .not-found {
    min-height: 100vh;
  }
}
a.zola {
  text-align: center;
  text-decoration: none;
  color: var(--accent-color);
}

a {
  text-decoration: none;
  color: var(--accent-color);
}

.highlight {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  &:hover {
    background-color: var(--accent-color);
  }
}

p {
  line-height: 150%;
  font-size: large;
}
