$lightenFactor: 0.7;
$cpsc: rgba(184, 204, 222, $lightenFactor);
$biol: rgba(193, 203, 232, $lightenFactor);
$chem: rgba(184, 184, 209, $lightenFactor);
$micb: rgba(203, 193, 232, $lightenFactor);
$math: rgba(205, 184, 222, $lightenFactor);
$other: rgba(242, 208, 242, $lightenFactor);
$light: #dfdbe5;
$smoke: #e6e6ee;
$dark: rgba(91, 95, 151, $lightenFactor);
$darker: rgba(205, 184, 222, $lightenFactor);
$font: "Open Sans";
$grey: #545454;
$lightergrey: #767676;
$dark-grey: #1e1e21;
$percent: 30%;

$maxWidth: 768px;

$pDeskTopFont: 22px;
$pModbileFont: medium;

$themes: (
    "light": (
        "colors": (
            "background": $light,
            "accent": $darker,
            "dot": $smoke,
            "font": $grey,
        ),
        "courseColors": (
            "CPSC": $cpsc,
            "BIOL": $biol,
            "CHEM": $chem,
            "MICB": $micb,
            "MATH": $math,
            "OTHER": $other,
        ),
    ),
    "dark": (
        "colors": (
            "background": $dark-grey,
            "dot": darken($dark, 50%),
            "accent": $dark,
            "font": $smoke,
            "top": #3f3f3f,
        ),
        "courseColors": (
            "CPSC": darken($cpsc, $percent),
            "BIOL": darken($biol, $percent),
            "CHEM": darken($chem, $percent),
            "MICB": darken($micb, $percent),
            "MATH": darken($math, $percent),
            "OTHER": darken($other, $percent),
        ),
    ),
);

@each $theme-name, $theme-vars in $themes {
    $colors: map-get($theme-vars, "colors");
    $courseColors: map-get(
        $map: $theme-vars,
        $key: "courseColors",
    );

    $theme: (
        "bg-color": map-get($colors, "background"),
        "dot-color": map-get($colors, "dot"),
        "accent-color": map-get($colors, "accent"),
        "text-color": map-get($colors, "font"),
        "cpsc": map-get($courseColors, "CPSC"),
        "biol": map-get($courseColors, "BIOL"),
        "chem": map-get($courseColors, "CHEM"),
        "micb": map-get($courseColors, "MICB"),
        "math": map-get($courseColors, "MATH"),
        "other": map-get($courseColors, "OTHER"),
    );

    .container.#{$theme-name} {
        min-height: 100vh;
        background: var(--bg-color);
        // background-size: 40px 40px;
        // background-image: radial-gradient(circle, var(--dot-color) 1px, rgba(0, 0, 0, 0) 1px);
        // background-repeat: repeat;
        // background-size: 40px 40px;
        // background-image: linear-gradient(to right, var(--dot-color) 1px, transparent 1px),
        //     linear-gradient(to bottom, var(--dot-color) 1px, transparent 1px);

        @media (min-width: $maxWidth) {
            padding: 0 25vw;
        }
        // define a css variable for each shade
        @each $name, $color in $colors {
            --#{$name}: #{$color};
        }

        // define a css variable for each color
        @each $name, $color in $colors {
            --#{$name}: #{$color};
            --#{$name}-dark: #{darken($color, 10%)};
            --#{$name}-darker: #{darken($color, 20%)};
        }

        // define a css variable for each theme color
        @each $name, $color in $theme {
            --#{$name}: #{$color};
        }
    }
}
