@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
@import url("syntax-theme-light.css") (prefers-color-scheme: light);

$lightenFactor: 0.7;
$cpsc: #bffcc6;
$biol: #c4faf8;
$chem: #ffcbc1;
$micb: #afcbff;
$math: #aff8db;
$other: #ecd4ff;
$light: #dfdbe5;
$smoke: #e6e6ee;
$dark: rgba(91, 95, 151, $lightenFactor);
$darker: rgba(205, 184, 222, $lightenFactor);
$font: 'Rubik', sans-serif;
$grey: #545454;
$lightergrey: #767676;
$dark-grey: #1e1e21;
$percent: 25%;

// pastel colors
$pastelYellow: #ffffd1;
$lightPastelGreen: #f3ffe3;
$darkPastelOrange: #ffabab;
$darkPastelPink: #f6a6ff;

$maxWidth: 769px;

$pDeskTopFont: 22px;
$pModbileFont: medium;

$themes: (
    "light": (
        "colors": (
            "background": white,
            "accent": $pastelYellow,
            "darker-accent": darken($pastelYellow, 10%),
            "font": $grey,
        ),
        "courseColors": (
            "CPSC": $cpsc,
            "BIOL": $biol,
            "CHEM": $chem,
            "MICB": $micb,
            "MATH": $math,
            "OTHER": $other,
        ),
    ),
    "dark": (
        "colors": (
            "background": $dark-grey,
            "accent": darken($darkPastelPink, 5%),
            "darker-accent": darken($darkPastelPink, 10%),
            "font": white,
        ),
        "courseColors": (
            "CPSC": darken($cpsc, $percent),
            "BIOL": darken($biol, $percent),
            "CHEM": darken($chem, $percent),
            "MICB": darken($micb, $percent),
            "MATH": darken($math, $percent),
            "OTHER": darken($other, $percent),
        ),
    ),
);

@each $theme-name, $theme-vars in $themes {
    $colors: map-get($theme-vars, "colors");
    $courseColors: map-get(
        $map: $theme-vars,
        $key: "courseColors",
    );

    $theme: (
        "bg-color": map-get($colors, "background"),
        "accent-color": map-get($colors, "accent"),
        "darker-accent": map-get($colors, "darker-accent"),
        "text-color": map-get($colors, "font"),
        "cpsc": map-get($courseColors, "CPSC"),
        "biol": map-get($courseColors, "BIOL"),
        "chem": map-get($courseColors, "CHEM"),
        "micb": map-get($courseColors, "MICB"),
        "math": map-get($courseColors, "MATH"),
        "other": map-get($courseColors, "OTHER"),
    );

    .container.#{$theme-name} {
        padding: 0;
        min-height: 100vh;
        background: var(--bg-color);

        // define a css variable for each shade
        @each $name, $color in $colors {
            --#{$name}: #{$color};
        }

        // define a css variable for each color
        @each $name, $color in $colors {
            --#{$name}: #{$color};
            --#{$name}-dark: #{darken($color, 10%)};
            --#{$name}-darker: #{darken($color, 20%)};
        }

        // define a css variable for each theme color
        @each $name, $color in $theme {
            --#{$name}: #{$color};
        }
    }
}
