{% macro displaypage(page, display) %}
        <div class="blog-intro ">
          <a href="{{ page.permalink | safe }}">
            <p class="blog-title">
                {{ page.title }}
            </p>
          </a>
            <div class="flex-row">
            <p class="date-time">
            {% if page.updated %}Updated: {{ page.updated }}{% else %}First written: {{ page.date }}{% endif %}. {{ page.word_count }} words
            </p>
            </div>
            {% if page.summary and display == 1 %}
            {{ page.summary | safe }} 
            {% endif %}
        </div>
{% endmacro displaypage %}

{% macro subsectionlinks(section) %}
{% for subsection in section.subsections %}
  {% set subsection = get_section(path=subsection) %}
  <a href="{{ subsection.path | safe }}">{{ subsection.title }}</a>
  {% endfor %}
{% endmacro subsectionlinks %}

{% macro displayblog(section,num=-1,display=0) %}
{{ self::subsectionlinks(section=section) }}
  <div class="blog flexcol">
  {% for page in section.pages %}
  {% if loop.index0 < num or num == -1 %}
  {{ macros::displaypage(page=page,display=display) }}
  {% endif %}
  {% endfor %}
  </div>
{% endmacro displayblog %}

{% macro displaypaginator(paginator,seeAll=0,display=0) %}
<div class="blog flexcol">
    {% for page in paginator.pages %}
    {{ macros::displaypage(page=page,display=display) }}
    {% endfor %}
    <div class="flex-row">
    {% if seeAll == 1 %}
    <a href="/blog">See all posts ›</a>
    {% else %}
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
    {% endif %}
</div>
</div>
{% endmacro paginator %}
