{% macro displaypage(page) %}
<a href="{{ page.permalink | safe }}">
        <div class="blog-intro ">
            <p class="blog-title">
                {{ page.title }}
            </p>
            <div class="flex-row">
            <p class="date-time">{{ page.word_count }} words</p>
            {% if page.updated %}
            <p>Updated: {{ page.updated }}</p>
            {% else %}
            <p>First written: {{ page.date }}</p>
            {% endif %}
            </div>
        </div>
    </a>
{% endmacro displaypage %}

{% macro subsectionlinks(section) %}
{% for subsection in section.subsections %}
  {% set subsection = get_section(path=subsection) %}
  <a href="{{ subsection.path | safe }}">{{ subsection.title }}</a>
  {% endfor %}
{% endmacro subsectionlinks %}

{% macro displayblog(section,num=-1) %}
{{ self::subsectionlinks(section=section) }}
  <div class="blog flexcol">
  {% for page in section.pages %}
  {% if loop.index0 < num or num == -1 %}
  {{ macros::displaypage(page=page) }}
  {% endif %}
  {% endfor %}
  </div>
{% endmacro displayblog %}

{% macro displaypaginator(paginator,seeAll=0) %}
<div class="blog flexcol">
    {% for page in paginator.pages %}
    {{ macros::displaypage(page=page) }}
    {% endfor %}
    <div class="flex-row">
    {% if seeAll == 1 %}
    <a href="/blog">See all posts ›</a>
    {% else %}
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
    {% endif %}
</div>
</div>
{% endmacro paginator %}

{% macro tags(title) %}

{% set data = load_data(path="content/data/index.toml") %}
    <!-- basic favicon -->
    <link rel="icon" href="{{get_url(path=data.favicon)}}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{get_url(path=data.favicon)}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{get_url(path=data.favicon)}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{get_url(path=data.favicon)}}">
    <link rel="apple-touch-icon-precomposed" href="{{get_url(path=data.favicon)}}">

    <!-- Primary Meta Tags -->
    <title>{{title}}</title>
    <meta name="title" content="{{title}}">
    <meta name="description" content="{{data.desc}}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{data.desc}}">

    <!-- Twitter -->
    <meta name="twitter:creator" content="@hoalycu">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{title}}">
    <meta property="twitter:description" content="{{data.desc}}">
    <meta property="twitter:image" content="{{get_url(path=data.favicon)}}">

    <!-- Other Meta tags -->
    <meta charset="UTF-8" />
    <meta name="description" content="{{title}}" />
    <meta property="og:image" content="{{get_url(path=data.favicon)}}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://use.fontawesome.com/8e0ceafb9b.js"></script>
    <link rel="stylesheet" href="{{get_url(path=data.css_path)}}">

{% endmacro tags %}
