{% extends "base.html" %}

{% block title %} 
404
{% endblock %}

{% block metatitle %} 
404
{% endblock %}

{% block metades %} 
Not Found
{% endblock %}

{% block fbtitle %} 
404
{% endblock %}

{% block fbdes %} 
Not Found
{% endblock %}

{% block twittertitle %} 
404
{% endblock %}

{% block twitterdes %} 
Not Found
{% endblock %}

{% block content %}
<p>Oh no! It appears that you have ventured into uncharted territory.
</p>
<a href="/" class="highlight">Let's go back.</a>
{% endblock content %}
