{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{% block title %} 
{{section.title}}
{% endblock %}

{% block metatitle %} 
{{section.title}}
{% endblock %}

{% block metades %} 
{{section.content}}
{% endblock %}

{% block fbtitle %} 
{{section.title}}
{% endblock %}

{% block fbdes %} 
{{section.content}}
{% endblock %}

{% block twittertitle %} 
{{section.title}}
{% endblock %}

{% block twitterdes %} 
{{section.content}}
{% endblock %}

{% block content %}

<h1>{{ section.title }}</h1>
{{ section.content | safe }}
{{ macros::subsectionlinks(section=section) }}
{{ macros::displaypaginator(paginator=paginator,display=1) }}
{% endblock content %}
