<!DOCTYPE html>
<html lang="en">
{% set data = load_data(path="content/data/index.toml") %}

<head>
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />

    <!-- basic favicon -->
    <link rel="icon" href="{{get_url(path=data.favicon)}}" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{get_url(path=data.favicon)}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{get_url(path=data.favicon)}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{get_url(path=data.favicon)}}">
    <link rel="apple-touch-icon-precomposed" href="{{get_url(path=data.favicon)}}">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDGPVMHC9Q"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-KDGPVMHC9Q');
    </script>

    <!-- Primary Meta Tags -->
    <title>{{data.title}}</title>
    <meta name="title" content="{{data.title}}">
    <meta name="description" content="{{data.desc}}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="{{data.title}}">
    <meta property="og:description" content="{{data.desc}}">

    <!-- Twitter -->
    <meta name="twitter:creator" content="@hoalycu">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="{{data.title}}">
    <meta property="twitter:description" content="{{data.desc}}">
    <meta property="twitter:image" content="{{get_url(path=data.favicon)}}">

    <!-- Other Meta tags -->
    <meta charset="UTF-8" />
    <meta name="description" content="{{data.title}}" />
    <meta property="og:image" content="{{get_url(path=data.favicon)}}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://use.fontawesome.com/8e0ceafb9b.js"></script>
    <link rel="stylesheet" href="{{get_url(path=data.css_path)}}">

    {% block js %}
          <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/1.0.1/slideout.min.js"></script>
          {% if config.extra.katex_enable %}
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">

          <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
          <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/mathtex-script-type.min.js" integrity="sha384-zWYbd0NBwgTsgIdFKVprSfTh1mbMPe5Hz1X3yY4Sd1h/K1cQoUe36OGwAGz/PcDy" crossorigin="anonymous"></script>
              {% if config.extra.katex_auto_render %}
          <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/contrib/auto-render.min.js" integrity="sha384-kmZOZB5ObwgQnS/DuDg6TScgOiWWBiVt0plIRkZCmE6rDZGrEOQeHM5PcHi+nyqe" crossorigin="anonymous"
                  onload="renderMathInElement(document.body);"></script>
              {% endif %}
          {% endif %}
    {% endblock js %}
<script type="text/javascript">
    window.addEventListener('load', function() {
        for (const ref of document.getElementsByClassName('footnote-reference')) {
            const hash = ref.children[0].hash.substring(1);
            const refhash = 'ref:' + hash;
            ref.id = refhash;
        }

        for (const footnote of document.getElementsByClassName('footnote-definition')) {
            const p = document.querySelector(".footnote-definition p");
            const hash = footnote.id;
            const refhash = 'ref:' + hash;
            const backlink = document.createElement('a');
            const spanText = document.createElement('span');
            spanText.innerHTML = "<span>. </span>" + p.innerHTML + "<span> </span>";
            backlink.href = '#' + refhash;
            backlink.className = 'footnote-backlink';
            backlink.innerText = '↩';
            const paras = footnote.children;
            const firstPara = paras[0];
            firstPara.appendChild(spanText);
            firstPara.appendChild(backlink);
            footnote.removeChild(p);
        }
    });
</script>

</head>

<body class="container blue-mesh">
    <section>
        <div class="page">
        <div class="flex-row">
        <a href="/">
      <img class="top-left" src="{{get_url(path=data.favicon)}}"/>
        </a>
        </div>
          {% block content %} {% endblock content %}
        </div>
        <div id="wcb" class="carbonbadge"></div>
<script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        <footer>
            <div class="flex-row">
                {% for link in data.links %}
                <a href="{{link.link}}" target="_blank">
            <p class="lucyfont">{{ link.name }}</p>
                </a>
                {% endfor %}
            </div>
            <p style="text-align: center; padding-bottom: 5vh;" class="lucyfont">made with 💖 and Zola by Lucy</p>
        </footer>
      <a href="https://www.ryanmehri.dev/" target="_blank">
        <img class="animal-img bottom-left" src="{{get_url(path=data.hedgehog)}}"/>
      </a>
      <a href="/">
      <img class="animal-img top-right" src="{{get_url(path=data.cat_scared)}}"/>
      </a>
      <!-- <img class="animal-img bottom-right" src="{{get_url(path=data.shib_cool)}}"/> -->
    </section>
</body>

</html>
