{% extends "base.html" %}

{% block content %}

{% set_global counter = 0 %}
<h1>{{ section.title }}</h1>
{% set intro = section.extra.intro | markdown %}
{{ intro | safe }}

<div class="flex-row-col">
  <div class="twothirds">
{{ section.content | safe }}
  </div>
  <div class="onethird">
  <h3>Some blog posts:</h3>
  {% for subsection in section.subsections %}  
  {% set subsection = get_section(path=subsection) %}
  <a href="{{ subsection.path | safe }}">{{ subsection.title }}</a>
  {% endfor %}
<div class="blog flexcol">
  {% for subsection in section.subsections %}
  {% set subsection = get_section(path=subsection) %}
  {% for subpage in subsection.pages %}
  {% if counter < 15 %}
  <a href="{{ subpage.permalink | safe }}">
        <div class="blog-intro ">
            <p class="blog-title">
                {{ subpage.title }}
            </p>
            <div class="flex-row">
            <p class="date-time">{{ subpage.reading_time }} mins</p>
            <p>{{ subpage.date }}</p>
            </div>
        </div>
    </a>
    {% endif %}
  {% set_global counter = 1 + counter %}
  {% endfor %}
  {% endfor %}
  <a href="/blog">see more blog posts</a>
</div>

  </div>
</div>

  {% endblock content %}
