{% extends "header.html" %}

{% block content %}
{% set data = load_data(path="content/data/index.toml") %}

<h1>{{ section.title }}</h1>
{{ section.content | safe }}

<div class="blog flexcol">
  {% for category in data.blog_categories %}
  <h2>{{ category }}</h2>
  {% for page in section.pages %}
  {% if page.extra.category %}
  {% if page.extra.category == category or category in page.extra.category %}
    <a href="{{ page.permalink | safe }}">
        <div class="blog-intro ">
            <p class="blog-title">
                {{ page.title }}
            </p>
            <div class="flex-row">
            <p class="date-time">{{ page.reading_time }} mins</p>
            <p>{{ page.date }}</p>
            </div>
        </div>
    </a>
  {% endif %}
  {% endif %}
  {% endfor %}
  {% endfor %}
</div>
{% endblock content %}
