{% extends "base.html" %}

{% block content %}

<h1>{{ section.title }}</h1>
{{ section.content | safe }}

<div class="blog flex-row-col">
    {% for page in section.pages %}
    <a class="nostyle" href="{{ page.permalink | safe }}">
        <div class="box gradient"></div>
        <div class="blog-intro ">
            <p class="blog-title">
                {{ page.title }}
            </p>
            <p class="date-time">{{ page.reading_time }} mins | {{ page.date }}</p>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock content %}