<h2>Year 5</h2>
<div class="coursework flex-row-no-space link-no-style">
  $for(year5)$
  <div>
    <a href="$url$" style="font-weight: normal; padding: 0 0">$description$</a>
  </div>
  $endfor$
</div>

<h2>Year 4</h2>
<div class="coursework flex-row-no-space link-no-style">
  $for(year4)$
  <div>
    <a href="$url$" style="font-weight: normal; padding: 0 0">$description$</a>
  </div>
  $endfor$
</div>

<h2>Year 3</h2>
<div class="coursework flex-row-no-space link-no-style">
  $for(year3)$
  <div>
    <a href="$url$" style="font-weight: normal; padding: 0 0">$description$</a>
  </div>
  $endfor$
</div>

<h2>Year 2</h2>
<div class="coursework flex-row-no-space link-no-style">
  $for(year2)$
  <div>
    <a href="$url$" style="font-weight: normal; padding: 0 0">$description$</a>
  </div>
  $endfor$
</div>

<h2>Year 1</h2>
<div class="coursework flex-row-no-space link-no-style">
  $for(year1)$
  <div>
    <a href="$url$" style="font-weight: normal; padding: 0 0">$description$</a>
  </div>
  $endfor$
</div>

<div>
  <h2>Course Notes</h2>
  $for(coursenotes)$
  <div>
    <a href="$url$" style="font-weight: normal; padding: 0 0">$description$</a>
  </div>
  $endfor$
</div>
