{% extends "header.html" %}

{% block content %}
<div class="post">
    <h1>{{ page.title }}</h1>
    <h3>
        {{ page.description }}
    </h3>
    <p class="subtitle">
        <strong>
            {{ page.date }}
        </strong>
    </p>
    <p class="subtitle">
        <strong>
            {{ page.word_count }} words, {{ page.reading_time }} mins
        </strong>
    </p>
    {% if page.toc and page.word_count > 400 %}
    <div class="toc">
        <ul>
            {% for h1 in page.toc %}
            <li>
                <a class="highlight" href="{{h1.permalink | safe}}">{{ h1.title }}</a>
                {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                    <li>
                        <a class="highlight" href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if page.word_count == 0%}
    <p>I either haven't taken this course yet, am currently taking it or don't care enough to review it 🙃. Check back
        later!</p>
    {% endif %}
    {{ page.content | safe }}
    <a href="/school" class="highlight"><span style="font-weight: bolder;">ᐊ</span> go back to the courses</a>
</div>
{% endblock content %}
