<div class="coursework flex-row-no-space">
  <div>CPSC 110</div>
  <div>CPCS 121</div>
  <div>CPSC 210</div>
  <div>CPSC 221</div>
  <div>CPSC 213</div>
  <div>CPSC 320</div>
  <div>CPSC 313</div>
  <div>MATH 100</div>
  <div>MATH 101</div>
  <div>MATH 200</div>
  <div>STAT 251</div>
  <div>CHEM 130</div>
  <div>CHEM 213</div>
  <div>CHEM 233</div>
  <div>BIOL 112</div>
  <div>BIOL 200</div>
  <div>BIOC 202</div>
  <div>MICB 202</div>
  <div>MICB 201</div>
  <div>MICB 306</div>
  <div>ATSC 113</div>
  <div>DSCI 100</div>
  <div>FRST 302</div>
 </div>
