<!doctype html>
<html lang="en">
  $partial("templates/head.html")$
        <body>
        <header>
            <div class="logo">
                <a href="/">
                <img src="/images/android-chrome-384x384.png" alt="Me">
                </a>
            </div>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Site powered by cats, 🍫 and 
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </footer>
    </body>
</html>
