<!doctype html>
<html lang="en">
  $partial("templates/head.html")$
  <body>
    <main role="main">
      <div class="flex-row-col">
        $partial("templates/sidebar.html")$
        <div>
          $if(title)$
          <h1>$title$</h1>
          $endif$
          $body$
        </div>
      </div>
    </main>

    <footer>
      <center>
        <p>
          <a href="/archive">archive</a>
          <a href="https://github.com/lhao03" target="_blank">github</a>
          <a href="https://www.linkedin.com/in/lucy-hao/" target="_blank"
            >linkedin</a
          >
        </p>
      </center>
      Site powered by cats, 🍫 and
      <a href="http://jaspervdj.be/hakyll">Hakyll</a>
    </footer>
  </body>
</html>
