{% extends "base.html" %}

{% block content %}
{% set projects_data = load_data(path="content/data/experiences.toml") %}

<h1>👩🏻‍💻 experience</h1>

{{ section.content | safe }}

{% for title_experiences in projects_data.list_of_experiences %}

<h2>{{title_experiences.title}}</h2>
{% set loe_data = title_experiences.loe | sort(attribute="order") %}
{% for experience in loe_data %}
<section id="experience">
    <button class="accordion">
        <div class="img-title">
            {% if experience.img %}
            <img src="/res/logos/{{experience.img}}" alt="">
            {% endif %}
            <div class="title-info">
                <h3 class="exp-title">{{experience.name}}</h3>
                <div class="date-job mobile-col">
                    <p>{{experience.date}}</p>
                    <p class="mobile-hide">, {{experience.pos}}</p>
                    <p class="desktop-hide">{{experience.pos}}</p>
                </div>
            </div>
        </div>
    </button>
    <div class="panel">
        <div class="desc">
            <p>
                {% for sent in experience.desc %}
                {{ sent }}
                {% endfor %}
            </p>
        </div>
        <div class="links">
            <p>
                {% if experience.links %}
                {% for link in experience.links %}
                {% if loop.last %}
                <a href="{{link.link}}" class="highlight" target="_blank">{{link.name}}</a>
                {% else %}
                <a href="{{link.link}}" class="highlight" target="_blank">{{link.name}}</a> |
                {% endif %}
                {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>

</section>

{% endfor %}

{% endfor %}

{% endblock content %}