{% extends "base.html" %}

{% block content %}
{% set data = load_data(path="content/data/index.toml") %}

<h1>{{ section.title }}</h1>
{{ section.content | safe }}

{% for category in data.exp_categories %}

<h2>{{category}}</h2>
{% for experience in section.pages %}
{% if category == experience.extra.category %}
<section id="experience">
    <button class="accordion">
        <div class="flex-row-no-space">
            {% if experience.extra.img %}
            <img src="/res/logos/{{experience.extra.img}}" alt="">
            {% endif %}
            <div class="title-info">
                <h3>{{experience.title}}</h3>
                <div class="flex-row-no-space mobile-col">
                    <p>{{experience.extra.duration}}</p>
                    <p class="mobile-hide">, {{experience.description}}</p>
                    <p class="desktop-hide">{{experience.description}}</p>
                </div>
            </div>
        </div>
    </button>
    <div class="panel">
        <div class="desc">
            <p>
                {{ experience.content | safe }}
            </p>
        </div>
        <div class="links">
            <p>
                {% if experience.extra.links %}
                {% for link in experience.extra.links %}
                {% if loop.last %}
                <a href="{{link.link}}" class="highlight" target="_blank">{{link.name}}</a>
                {% else %}
                <a href="{{link.link}}" class="highlight" target="_blank">{{link.name}}</a> |
                {% endif %}
                {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>

</section>
{% endif %}

{% endfor %}

{% endfor %}

{% endblock content %}