{% extends "base.html" %}

{% block content %}
{% set fails_data = load_data(path="content/data/failures.toml") %}
<h1 class="title">
  🤷🏻‍♀️ fails
</h1>

<section>
  <input id="permitted" type="checkbox" class="dropdown-check">
  <label for="permitted" id="dropdown-tri"></label>
  <label for="permitted" id="text">Why did I make a failures page?</label>
  <div class="blocked">
    <p>When I first started university, I was very insecure about my abilities. For instance, in first year, I could
      barely wrap my head about git commands, but now I actually
      prefer using git on the terminal vs. a user interface! Essentially, this section of my website serves as a
      reminder to myself and those read it that failures and not knowing things are normal.
    <p>I also read others' failure resumes and it helps me alot, so I hope my failure resume can help you too.</p>
    <p>Failures are subjective. What seems like a failure to me might not to you. I also recognize that I'm fortunate to have
      opportunities to fail and learn.</p>
    </p>
  </div>
</section>

{% for year_fails in fails_data.total_fails %}
<h2>{{year_fails.year}}</h2>
{% for fail in year_fails.fails %}
<section id="single">
  <input id="{{fail.title}}" type="checkbox">
  <label for="{{fail.title}}" id="dropdown-tri"></label>
  <label for="{{fail.title}}" id="text">{{fail.title}}</label>
  <div class="blocked">
    {% if fail.blob %}
    <p>{{fail.blob}}</p>
    {% endif %}
  </div>
</section>
{% endfor %}
{% endfor %}
{% endblock content %}