{% extends "base.html" %}

{% block header %}
<div class="header">
          <a href="/">
<code class="inline">home</code>
          </a>
        <a href="/about">
          <code class="inline">about</code>
        </a>
        <a href="/experience">
          <code class="inline">experience</code>
        </a>
        <a href="/blog">
          <code class="inline">blog</code>
        </a>
        <a href="/failures">
          <code class="inline">fails</code>
        </a>
        <a href="/school">
          <code class="inline">school</code>
        </a>
</div>
{% block content %} {% endblock content %}
{% endblock header %}
            
