{% extends "base.html" %}

{% block header %}
<div class="header flex-row">
        <a href="/about">
          <code class="inline">about</code>
        </a>
        <a href="/experience">
          <code class="inline">experience</code>
        </a>
        <a href="/blog">
          <code class="inline">blog</code>
        </a>
        <a href="/school">
          <code class="inline">school</code>
        </a>
</div>
{% block content %} {% endblock content %}
{% endblock header %}
            
