{% extends "base.html" %}

{% block content %}
{% set data = load_data(path="content/data/index.toml") %}

<div class="landing" id="landing">
    <div class="intro">
        <h1>Hi, I'm <a class="highlight">Lucy</a>! <img class="me" src="{{get_url(path=data.emoji_path)}}" alt=""></h1>
        <div class="intro-display">
            <p>
                I study <a class="highlight" href={{data.ubc_cs}} target="_blank">💻 Computer Science</a> and
                <a href="{{data.ubc_bchem}}" target="_blank" class="highlight">🧬 Biochemistry</a> at the
                <a href="{{data.ubc}}" class="highlight" target="_blank">University of British Columbia</a>. My favorite
                treat to eat while coding is dark chocolate 🍫 and I want a Shiba Inu 🐕. I'm
                interested in health tech, developer tools, programming languages and all things in between.
            </p>
        </div>
        <div class="bio mobile-col">
            <div>
                <p>
                    👩🏻‍💻 This summer, I'm interning at the <a href="{{data.microsoft}}" target="_blank"
                        class="highlight">Microsoft</a> <a href="{{data.garage}}" class="highlight"
                        target="_blank">Garage</a>, helping organize hackathons at <a href={{data.starhacks}}
                        class="highlight" target="_blank">StarHacks</a> and <a href="{{data.nwplus}}" class="highlight"
                        target="_blank">nwPlus</a>, playing too much Overcooked and experimenting with <a
                        href="https://pop.system76.com/" target="_blank" class="highlight">Pop!_OS</a>. Prevously, I've
                    built a <a href="https://www.medrxiv.org/content/10.1101/2021.05.04.21256134v1" target="_blank"
                        class="highlight">natural
                        language processing pipeline</a> to automate the extraction of patient information from clinical
                    notes, listened to <a href="{{data.bts}}" target="_blank" class="highlight">21st Century Girl for
                        9268 minutes</a>, led some
                    technical <a href="/experience" class="highlight" target="_blank">workshops</a>, and mentored high
                    schoolers.
                </p>
                <p>💖 I'd love to meet you! Send an <a href={{data.email}} class="highlight">email</a> or find me on <a
                        href="{{data.twitter}}" class="highlight" target="_blank"> twitter 🐦</a>. You can also see some
                    🍝 code on my
                    <a href="{{data.github}}" target="_blank" class="highlight">github</a>, read my thoughts on <a
                        href="/blog" target="_blank" class="highlight">stuff</a>, and see the <a href="/songs"
                        target="_blank" class="highlight">new
                        songs</a> I
                    discover
                    every week! Or you can check out my <a class="highlight" href="{{get_url(path=data.resume)}}"
                        target="_blank">resume</a>.
                </p>
            </div>
            <div class="profile-overlay">
                <img class="profile-img" src="{{get_url(path=data.profile_img)}}" alt="/res/profile.png" />
            </div>
        </div>
    </div>
</div>
{% endblock content %}