{% extends "base.html" %}

{% block content %}
{% set data = load_data(path="content/data/index.toml") %}

<div class="landing" id="landing">
    <div class="intro">
        <h1>Hey there! I'm <a class="highlight">Lucy</a>.</h1>
        <p>
            From a self-proclaimed chemistry nerd to
            <code>
                <a href="https://en.wikipedia.org/wiki/Filter_(higher-order_function)" class="highlight" target="_blank">filter</a>
            </code>
            and
            <code>
                <a href="https://en.wikipedia.org/wiki/Map_(higher-order_function)" class="highlight" target="_blank">map</a>
            </code>
            enthusiast, I found myself studying <a class="highlight" href={{data.ubc_cs}} target="_blank">💻 Computer
                Science</a> and <a href="{{data.ubc_bchem}}" target="_blank" class="highlight">🧬 Biochemistry</a> at
            the <a href="{{data.ubc}}" class="highlight" target="_blank">University of British Columbia</a>. In my short
            2 years in university, I've become interested in health tech, developer tools, programming languages and all
            things in between. If I'm not at my computer coding and eating dark chocolate 🍫, you can find me scrolling
            through pictures of Shiba Inus 🐕!
        </p>
        <p>
            Prevously, I've helped design and implement a developer tool to interact with Microsoft Graph at <a
                href="{{data.microsoft}}" target="_blank" class="highlight">Microsoft</a> <a href="{{data.garage}}"
                class="highlight" target="_blank">Garage</a>, built a <a
                href="https://www.medrxiv.org/content/10.1101/2021.05.04.21256134v1" target="_blank"
                class="highlight">natural language processing pipeline</a> to automate the extraction of patient
            information from clinical notes, listened to <a href="{{data.bts}}" target="_blank" class="highlight">21st
                Century Girl for 9268 minutes</a>, led some technical <a href="/experience" class="highlight"
                target="_blank">workshops</a>, and mentored high schoolers.
            Outside of studying and writing 🍝 code, I've been helping organize hackathons at <a href={{data.starhacks}}
                class="highlight" target="_blank">StarHacks</a> and <a href="{{data.nwplus}}" class="highlight"
                target="_blank">nwPlus</a>, playing too much Overcooked
            and experimenting with <a href="https://elixir-lang.org/" class="highlight">Elixir</a> and <a
                href="https://rescript-lang.org/" class="highlight">ReScript</a>!
        </p>
        <div class="bio mobile-col">
            <p>💖 If you want to get in touch with me, feel free to send an <a href={{data.email}}
                    class="highlight">email</a> or find me on <a href="{{data.twitter}}" class="highlight"
                    target="_blank">
                    twitter 🐦</a>. You can also see some 🍝 code on my <a href="{{data.github}}" target="_blank"
                    class="highlight">github</a>, read my thoughts on <a href="/blog" target="_blank"
                    class="highlight">stuff</a>, and see the <a href="/songs" target="_blank" class="highlight">new
                    songs</a> I discover every week! Or you can check out my <a class="highlight"
                    href="{{get_url(path=data.resume)}}" target="_blank">resume</a>.
            </p>
            <img class="profile-img" src="{{get_url(path=data.profile_img)}}" alt="/res/profile.png" />
        </div>
    </div>
</div>
{% endblock content %}