{% extends "base.html" %}
{% import "macros/recursive-posts.html" as macros %}

{% block content %}

{% set_global posts = [] %}
<h1>{{ section.title }}</h1>
{% set intro = section.extra.intro | markdown %}
{{ intro | safe }}
<div class="flex-row-col">
  <div class="twothirds">
    {{ section.content | safe }}
  </div>
  <div class="onethird">
  <h3>Some blog posts...</h3>
  {{ macros::getposts(posts=posts,section=section,num=9) }}
  <a href="/blog">read more posts</a>
  </div>
</div>
{% endblock content %}
