{% extends "base.html" %}
{% import "macros/macros.html" as macros %}
{% set data = load_data(path="content/data/index.toml") %}

{% block title %} 
{{data.title}}
{% endblock %}

{% block metatitle %} 
{{data.title}}
{% endblock %}

{% block metades %} 
{{data.desc}}
{% endblock %}

{% block fbtitle %} 
{{data.title}}
{% endblock %}

{% block fbdes %} 
{{data.desc}}
{% endblock %}

{% block twittertitle %} 
{{data.title}}
{% endblock %}

{% block twitterdes %} 
{{data.desc}}
{% endblock %}

{% block content %}

<h1>{{ section.title }}</h1>
{% set intro = section.extra.intro | markdown %}
{{ intro | safe }}
<div>
    {{ section.content | safe }}
</div>

{% endblock content %}
