<div>
  $if(cover_image)$
  <div class="content">
    <img src="$cover_image$" alt="">
  </div>
  $endif$
  <div class="header">
    Posted on $date$
    $if(author)$
    by $author$
    $endif$
  </div>
  <div class="tags">
    $if(tags)$
    Tags: $tags$
    $endif$
  </div>
  <div>
    $body$
  </div>
  <div class="flex-row link-no-style">
    $if(prevPost)$
    <a href="$prevPost$">⇐ Newer post</a>
    $endif$
    $if(nextPost)$
    <a href="$nextPost$">Older post ⇒</a>
    $endif$
  </div>
</div>

