{% extends "base.html" %}

{% block content %}
<div class="post block">
  <h1>{{ page.title }}</h1>
  {% if page.extra.img %}
  <img class="norm" src="/res/blog_photos/{{page.extra.img}}" alt="{{page.extra.alt}}">
  {% endif %}

  <p class="subtitle">
    Written:
    <strong>
      {{ page.date }}
    </strong>
    <br />
    <strong>{{ page.word_count }} words, {{ page.reading_time }} mins</strong>
    <br />
    {% if page.updated %}
    Updated:
    <strong>{{ page.updated }}</strong>
    {% endif %}
  </p>
  {% if page.extra.understanding and page.extra.interest %}
  <p>
  Interest: {{ page.extra.interest }}
  <br />
  Understanding: {{ page.extra.understanding }}
  </p>
  {% endif %}
  {% if page.toc and page.word_count > 400 %}
  <div class="toc">
    <h3> Table of Contents </h3>
    <ul>
      {% for h1 in page.toc %}
      <li >
        <a class="highlight" href="{{h1.permalink | safe}}">{{ h1.title }}</a>
        {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
          <li>
            <a class="highlight" href="{{h2.permalink | safe}}">{{ h2.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="toc_mobile">
    <h3> Table of Contents </h3>
    <ul>
      {% for h1 in page.toc %}
      <li>
        <a class="highlight" href="{{h1.permalink | safe}}">{{ h1.title }}</a>
        {% if h1.children %}
        <ul>
          {% for h2 in h1.children %}
          <li>
            <a class="highlight" href="{{h2.permalink | safe}}">{{ h2.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {{ page.content | safe }}
</div>

<div class="flex-row">
  {% if page.earlier %}
  <p>Previous:
    <a href="{{ page.earlier.permalink }}">{{ page.earlier.title }}</a>
  </p>
  {% endif %}
  {% if page.later %}
  <p>Next:
    <a href="{{ page.later.permalink }}">{{ page.later.title }}</a>
  </p>
  {% endif %}
</div>
    <a href="/blog">go back to all posts</a>
{% endblock content %}
