{% extends "base.html" %}

{% block content %}
{% set data = load_data(path="content/data/index.toml") %}
<div class="flex-row">
    <h1>{{ section.title }}</h1>
    <div class="theme-toggle">
        <input class=toggle id=darkmode-toggle type=checkbox tabindex=-1>
        <label for="darkmode-toggle" class="toggle-label">
            <p class="theme-text unselectable">☀️ 🌑</p>
        </label>
    </div>
</div>

{{ section.content | safe }}

{% for curr_year in data.school_years %}
<h2>year {{curr_year}}</h2>
<div class="flex-col">
    {% for page in section.pages %}
    {% if page.extra.year == curr_year %}
    <a class="no-decor" href="{{ page.permalink | safe }}">
        <div class="course-button {{page.extra.course}} light">
            {{ page.title }} {{ page.description }}
        </div>
    </a>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}