{% extends "base.html" %}

{% block content %}
{% set songs_data = load_data(path="content/data/songs.toml") %}
<h1>
    {{ section.title }}
</h1>

<p>I was inspired by <a href="https://blog.matthewwang.me/stats/song-of-the-week.html" class="highlight"
        target="_blank">Matt's Song of the Week</a> to start tracking the new songs I discover or can't stop listening
    to each week!
</p>

<h3>why so much kpop??</h3>
<p>Why not 😛? But for real, there's something about not understanding the lyrics that I really enjoy about kpop. I get
    to "guess" the vibe of the song and sometimes I'm right! But sometimes I'm very wrong. Don't worry though,
    this doesn't mean I don't listen to English songs!</p>
{% for info in songs_data.songs %}
<div class="weeklysongs">
    <h3>{{ info.week }}</h3>
    {% for song in info.picks %}
    <div class="song mobile-col"> 
        <iframe class="spotify-song" src="{{song.spotify}}" height="80" frameborder="0"
            allowtransparency="true" allow="encrypted-media">
        </iframe>
        <p>{{song.reason}}</p>
        </div>
    {% endfor %}
</div>
{% endfor %}
{% endblock content %}