{% extends "base.html" %}
{% import "macros/macros.html" as macros %}

{% block title %} 
{{section.title}}
{% endblock %}

{% block content %}

{% set_global posts = [] %}

<h1>{{ section.title }}</h1>
{{ section.content | safe }}

{% if paginator %}
{{ macros::subsectionlinks(section=section) }}
{{ macros::displaypaginator(paginator=paginator,display=1) }}
{% else %}
{{ macros::displayblog(section=section,display=1) }}
{% endif %}
<a {% if section.extra.backpage %} href="/blog/{{ section.extra.backpage}}" {% else %} href="/blog" {% endif %} class="highlight">
  <span style="font-weight: bolder;">ᐊ</span> go back to all {% if section.extra.backpage %} {{ section.extra.backpage }} {% else %}posts {% endif %}</a>
{% endblock content %}
