{% extends "base.html" %}
{% import "macros/recursive-posts.html" as macros %}

{% block content %}

{% set_global posts = [] %}

<h1>{{ section.title }}</h1>
{{ section.content | safe }}

<div class="blog flexcol">
{% if section.extra.subfolder %}
{{ macros::getposts(posts=posts,section=section,num=0) }}
{% else %}
{% for page in section.pages %}
{{ macros::displaypage(page=page) }}
{% endfor %}
{% endif %}
    <a href="/blog" class="highlight"><span style="font-weight: bolder;">ᐊ</span> go back to all posts</a>
</div>
{% endblock content %}
